<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'posts:main' %}">메인 페이지로 돌아가기</a><br><br>
    nickname: {{ request.user.nickname }}<br>
    <a href="{% url 'accounts:logout' %}">로그아웃</a><hr>

    <h2>{{ category.name }}</h2>

    <form method="POST" action="{% url 'posts:category' slug=category.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        제목 - <input type="text" name="title"><br>
        내용 - <textarea name="content"></textarea><br><br>
        
        이미지 - <input type="file" name="image"><br><br>
        이미지 - <input type="file" name="video"><br><br>
        <input type="checkbox" name="is_anonymous">익명
        <input type="submit" value="작성 완료">
    </form><br><hr>

    {% load humanize %}

    {% for post in posts %}
        <h2><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at|naturaltime }}</p>

        <p>댓글 {{ post.comments.count }} 공감 {{ post.post_likes.count }}</p> <hr>
    {% empty %}
        작성된 글이 없습니다.
    {% endfor %}

</body>
</html>