<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'posts:main' %}">메인페이지로 돌아가기</a><br><br>

    {% if user.is_authenticated %}
    <p>nickname : {{ request.user.nickname }}</p>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% endif %}

    <hr>

    <h2>{{ post.title }}</h2><br><br>
    <p>{{ post.content }}</p><br><br>
    <p>{{ post.created_at }}</p>

    {% if post.image %}
        <img width="320" height="240" src="{{ post.image.url }}">
    {% endif %}
    {% if post.video %}
        <video width="320" height="240" controls>
            <source src="{{ post.video.url }}" type="video/mp4">
        </video>
    {% endif %}
    <p>
        {% if post.is_anonymous %}
            익명
        {% else %}
            {{ post.author.nickname }}
        {% endif %}
    </p> <br>

    {% if request.user == post.author %}
        <a href="{% url 'posts:update' post.id %}">수정하기</a>
        <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
    {% endif %}

    <p>공감: {{ post.like.count }}개 스크랩: {{ post.scrap.count }}개</p>
    <form method="POST" action="{% url 'posts:like' post.id %}">
        {% csrf_token %}
        {% if request.user in post.like.all %}
            <button type="submit">공감 취소</button>
        {% else %}
            <button type="submit">공감 하기</button>
        {% endif %}
    </form>

    <form method="POST" action="{% url 'posts:scrap' post.id %}">
        {% csrf_token %}
        {% if request.user in post.scrap.all %}
            <button type="submit">스크랩 취소</button>
        {% else %}
            <button type="submit">스크랩 하기</button>
        {% endif %}
    </form>

    <hr>

    <p>댓글</p><br>
    {% for comment in post.comments.all %}
        {% if comment.is_anonymous %}
            익명
        {% else %}
            {{ comment.author.nickname }}
        {% endif %}:
        {{ comment.content }} - {{ comment.created_at }}
        {% if request.user == comment.author %}
            <a href="{% url 'posts:delete-comment' comment.id %}">삭제하기</a>
        {% endif %}
        <br><br>
        {% empty %}
            댓글이 없습니다.
        {% endfor %} <br>

        <form method="POST" action="{% url 'posts:create-comment' post.id %}">
            {% csrf_token %}
            댓글 <input type="text" name="content" required>
            <button type="submit">작성</button>
            <input type="checkbox" name="is_anonymous" value="true"> 익명
        </form>

        <hr>

</body>
</html>