<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for category in categories %}
        <a href="{% url 'posts:category' slug=category.slug %}">{{ category.name }}</a>
    {% endfor %}
    <br><br>

    {% if request.user.is_authenticated %}
        nickname : {{ request.user.nickname }} <br /><br>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a><br />

    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}

    {% for category, posts in category_posts.items %}
        <h2><a href="{% url 'posts:category' slug=category.slug %}">{{ category.name }}</a></h2>
        {% for post in posts %}
            <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a> <br><br>
        {% empty %}
            작성된 글이 없습니다.
        {% endfor %}
        <hr>
    {% empty %} 작성된 글이 없습니다. {% endfor %}
</body>
</html>