<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'phone:create' %}">번호 등록하기</a>
    <form method="GET" action="{% url 'phone:result' %}">
      <input type="text" name="keyword" />
      <button type="submit">검색</button>
    </form>
    <hr />
    {% for phone in phones %}
    <h2>이름: {{ phone.name }}</h2>
    <p>전화번호: {{ phone.phone_num }}</p>
    <hr />
    {% empty %} 추가된 번호가 없습니다. {% endfor %}
  </body>
</html>
