<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>연락처 수정</h1>
    <form method="POST" action="{% url 'phone:update' phone.name %}">
      {% csrf_token %} 이름 :
      <input type="text" name="name" value="{{ phone.name }}" /><br /><br />
      전화번호 :
      <input
        type="text"
        name="phone_num"
        value="{{ phone.phone_num }}"
      /><br /><br />
      이메일 :
      <input type="email" name="email" value="{{ phone.email }}" /><br /><br />
      <input type="submit" value="수정" />
    </form>
  </body>
</html>
