<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>덕멋 인스타그램</h1>
    <a href="{% url 'posts:create' %}">글 작성하기</a>
    <hr />
    <form action="{% url 'posts:result' %}" method="GET">
      <input type="text" name="keyword" required />
      <button type="submit">검색</button><br />
    </form>
    {% for post in posts %}
    <h1><a href="{% url 'posts:detail' post.id %}">{{post.title }}</a></h1>
    <p>{{ post.content }}</p>
    <p>조회수: {{ post.views }}</p>
    <p>작성일: {{ post.created_at }}</p>
    {% empty %} 글이 없습니다. {% endfor %}
  </body>
</html>
