<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>블로그 작성</h2>
    <form method="POST" action="{% url 'blog:create' %}" enctype="multipart/form-data">
      {% csrf_token %} 제목 - <input type="text" name="title" /><br /><br />
      내용 - <textarea name="content"></textarea><br /><br />
      이미지 - <input type="file" name="image" /><br><br>
      동영상 - <input type="file" name="video" /><br><br>
      카테고리 - <select name="category" multiple>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select> <br/><br/>
      <input type="submit" value="작성하기" />
    </form>
  </body>
</html>
