<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>제목 - {{ post.title }}</h2>
    <p>내용 - {{ post.content }}</p>
    <p>작성일 - {{ post.created_at }}</p>
    <p>작성자: {{ post.author.nickname }}</p>

    {% if post.image %}
      <img width="320" height="240" src="{{ post.image.url }}">
    {% endif %}
    {% if post.video %}
      <video width="320" height="240" controls>
          <source src="{{ post.video.url }}" type="video/mp4">
      </video>
    {% endif %}

    <p>좋아요: {{ post.like.count }} <br>
      {% if request.user in post.like.all %}
        <a href="{% url 'blog:like' post.id %}">좋아요 취소</a>
      {% else %}
        <a href="{% url 'blog:like' post.id %}">좋아요</a>
      {% endif %}

    <p>카테고리 -
      {% for category in post.category.all %}
          [{{ category.name }}]
      {% empty %}
          선택한 카테고리 없음
      {% endfor %}
    </p>

    <hr />
    <br />
    {% if request.user == post.author %}
    <a href="{% url 'blog:update' post.id %}">수정하기</a><br />
    <a href="{% url 'blog:delete' post.id %}">삭제하기</a>
    {% endif %}

    <p>댓글 수: {{ post.comments.count }}</p>
    {% for comment in post.comments.all %}
      <p>{{ comment.author.nickname }} : {{ comment.content }}</p>
    {% empty %}
      댓글이 없습니다.
    {% endfor %}

    <form method = "POST" action="{% url 'blog:create-comment' post.id %}">
      {% csrf_token %}
      <textarea name="content" cols="30" rows="5"></textarea>
      <button type = "submit"> 댓글 작성 </button> <br>
  </body>
</html>
